n8n/workflows/crypto-news-scraper.json
{
  "name": "Crypto News Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.coindesk.com/arc/outboundfeeds/rss/",
        "options": {
          "timeout": 10000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; CryptoPlayBot/1.0)"
            }
          ]
        }
      },
      "name": "Fetch CoinDesk RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse RSS and clean data\nconst items = $input.all();\nconst cleanedData = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract RSS data\n  const entry = {\n    title: data.title || '',\n    content: data.contentSnippet || data.content || data.description || '',\n    link: data.link || '',\n    source: 'CoinDesk',\n    published_at: data.pubDate || data.isoDate || new Date().toISOString(),\n    raw_data: data\n  };\n  \n  // Filter conditions\n  const wordCount = entry.content.split(' ').length;\n  const publishedDate = new Date(entry.published_at);\n  const oneDayAgo = new Date(Date.now() - 24 * 60 * 60 * 1000);\n  const isRecent = publishedDate > oneDayAgo;\n  \n  if (wordCount > 50 && isRecent && entry.title) {\n    cleanedData.push({ json: entry });\n  }\n}\n\nreturn cleanedData;"
      },
      "name": "Clean RSS Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.title }}",
              "operation": "isNotEmpty"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.content.length }}",
              "operation": "larger",
              "value2": 100
            }
          ]
        }
      },
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/ai/translate-and-summarize",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={\n  \"text\": \"{{ $json.content }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"source_language\": \"en\",\n  \"target_language\": \"zh\"\n}"
      },
      "name": "AI Translate & Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/ai/categorize",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={\n  \"title\": \"{{ $json.translated_title }}\",\n  \"content\": \"{{ $json.translated_text }}\"\n}"
      },
      "name": "AI Categorize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.translated_title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.translated_text }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "source",
              "value": "={{ $node['Clean RSS Data'].json.source }}"
            },
            {
              "name": "source_url",
              "value": "={{ $node['Clean RSS Data'].json.link }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "is_important",
              "value": "false"
            }
          ],
          "array": [
            {
              "name": "tags",
              "value": "={{ $json.tags }}"
            }
          ],
          "dateTime": [
            {
              "name": "published_at",
              "value": "={{ $node['Clean RSS Data'].json.published_at }}"
            }
          ]
        }
      },
      "name": "Prepare Directus Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "url": "http://directus:8055/items/news",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Save to Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Directus Admin Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Log success\nconst saved = $input.all();\nconsole.log(`Successfully saved ${saved.length} news items`);\nreturn saved;"
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Log error\nconst errors = $input.all();\nconsole.error('Failed items:', errors);\nreturn errors;"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch CoinDesk RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CoinDesk RSS": {
      "main": [
        [
          {
            "node": "Clean RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean RSS Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "AI Translate & Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Translate & Summarize": {
      "main": [
        [
          {
            "node": "AI Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize": {
      "main": [
        [
          {
            "node": "Prepare Directus Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Directus Data": {
      "main": [
        [
          {
            "node": "Save to Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Directus": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "n8n-local"
  },
  "tags": []
}
